.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  font-weight: bold;
  /*position: absolute;
  width: 100%;
  bottom: 0;*/
  background-color: gray;
  border-radius: 0px 0px 10px 10px;
  text-transform: uppercase;
}

.navbar a{
  margin: 0 40px;
  color: white;
}

.navbar a:hover{
  color: black;
  transition: 0.3s;
}